
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Full Text Search for Meteor App - Dark Matter in Cyberspace</title>
  <meta name="author" content="Li Chao">

  
  <meta name="description" content="For Meteor 1.0.3, the built-in database is mongodb 2.4, which is not support full text search by default.
So we need install a stand-alone MongoDB 2. &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://leetschau.github.io/blog/2015/02/01/134829/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="Dark Matter in Cyberspace" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Dark Matter in Cyberspace</a></h1>
  
    <h2>A notes repository for Meteor.js, data mining, Linux, etc.</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="https://www.google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="sitesearch" value="leetschau.github.io">
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">Full Text Search for Meteor App</h1>
    
    
      <p class="meta">
        




<time class='entry-date' datetime='2015-02-01T13:48:29+08:00'><span class='date'><span class='date-month'>Feb</span> <span class='date-day'>1</span><span class='date-suffix'>st</span>, <span class='date-year'>2015</span></span> <span class='time'>1:48 pm</span></time>
        
      </p>
    
  </header>


<div class="entry-content"><p>For Meteor 1.0.3, the built-in database is mongodb 2.4, which is not support full text search by default.
So we need install a stand-alone MongoDB 2.6, create a &ldquo;meteor&rdquo; database, and let Meteor to use it as backend database:</p>

<p>First start MongoDB server: <code>mongod --dbpath ~/docs/mongodb-repo</code>;</p>

<p>Then create a new database &ldquo;meteor&rdquo; for Meteor app backend:</p>

<pre><code>$ mongo
&gt; show dbs
&gt; use meteor
</code></pre>

<p>Next start Meteor server and connect it with the Mongodb server:</p>

<pre><code>$ MONGO_URL="mongodb://localhost:27017/meteor" meteor
&gt; db.zips.getIndexes()
&gt; db.zips.dropIndex("forsearch_text")
&gt; db.zips.ensureIndex( {city: "text", state: "text"} )
&gt; db.zips.find( {$text: {$search: "lee ma"}} ).count()
488
</code></pre>

<p>Here <code>use meteor</code> create a new database in MongoDB (if it doesn&rsquo;t exists yet)
and use it as the current database.
Use <code>db</code> to get the current database name.</p>

<p>Ref:</p>

<p><a href="http://docs.mongodb.org/manual/tutorial/getting-started/">Getting Started with MongoDB</a></p>

<p><a href="http://docs.mongodb.org/manual/administration/indexes-text/">Text Search Tutorials of MongoDB 2.6.7</a>;</p>

<p><a href="http://docs.mongodb.org/manual/reference/operator/query/text/">$text query operator of MongoDB 2.6.7</a></p>

<p><a href="http://stackoverflow.com/questions/10610131/checking-if-a-field-contains-a-string">Checking if a field contains a string</a></p>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">Li Chao</span></span>

      




<time class='entry-date' datetime='2015-02-01T13:48:29+08:00'><span class='date'><span class='date-month'>Feb</span> <span class='date-day'>1</span><span class='date-suffix'>st</span>, <span class='date-year'>2015</span></span> <span class='time'>1:48 pm</span></time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/meteor/'>meteor</a>, <a class='category' href='/blog/categories/text-search/'>text search</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  <a href="//twitter.com/share" class="twitter-share-button" data-url="http://leetschau.github.io/blog/2015/02/01/134829/" data-via="" data-counturl="http://leetschau.github.io/blog/2015/02/01/134829/" >Tweet</a>
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/2015/01/30/183509/" title="Previous Post: Meteor应用中简单查询的实现方法">&laquo; Meteor应用中简单查询的实现方法</a>
      
      
        <a class="basic-alignment right" href="/blog/2015/02/03/174123/" title="Next Post: 几款开源文本编辑器比较">几款开源文本编辑器比较 &raquo;</a>
      
    </p>
  </footer>
</article>

</div>

<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2016/02/21/110422/">3月6日演讲提纲</a>
      </li>
    
      <li class="post">
        <a href="/blog/2016/02/20/010838/">Merge Multiple PDF Files in Ubuntu</a>
      </li>
    
      <li class="post">
        <a href="/blog/2016/02/16/212514/">Debug Python Script</a>
      </li>
    
      <li class="post">
        <a href="/blog/2016/02/09/120142/">Golang Notes</a>
      </li>
    
      <li class="post">
        <a href="/blog/2016/02/07/103930/">Cabal Notes</a>
      </li>
    
  </ul>
</section>

<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating...</li>
  </ul>
  
  <a href="https://github.com/leetschau">@leetschau</a> on GitHub
  
  <script type="text/javascript">
    $(document).ready(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'leetschau',
            count: 0,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>





  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2016 - Li Chao -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
